.main-header {
    background-image: url('@/public/img//hero/heroDesktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 600px;

    @media (orientation: landscape) and (min-width: 339.99px) and (max-width: 599.9px) {

        min-height: 770px;
    }

    @media (min-width: 599.99px) {
        min-height: 920px;
    }

    @media (min-width: 780px) {
        min-height: 760px;
    }

    @media (min-width: 1700px) {
        min-height: 800px;
    }

    @media (min-height: 1500px) {
        min-height: calc(800px + 100%);
    }
}
