.main-header {
    background-image: url('@/public/img//hero/heroDesktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 500px;
    
    @media (min-width: 780px) {
      min-height: 760px;
    }
    
    @media (min-width: 1700px) {
      min-height: 800px;
    }
    
    @media (min-height: 1500px) {
      min-height: calc(800px + 100%);
    }
}
