.action-button {

    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;

    width: 7.75rem; // 124px
    height: 3.0625rem; // 49px
    top: 44rem; // 704px
    left: 6.665rem; // 119.94px

    padding: 15px 20px;
    gap: 0.625rem; // 10px
    border-radius: 50px; 

    border: 2px solid;

    font-size: 1rem; // 16px
    font-weight: 700;
    // line-height: 1.2rem; // 19.2px
    line-height: 6.2rem; // 19.2px
    text-align: left;

    &.white {
        color: #fff;
        border-color: #fff;
    }
}
